<!doctype html>
<html>

<head>
    <title>Room Chat</title>
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='cyberpunk-theme.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vaporwave-theme.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='lily-theme.css') }}">

</head>


<body class="">

    <div class="container">
        <button onclick="toggleTheme()" style="float:right;">Toggle Theme</button>

        <h2>Room Chat</h2>
        <h3>Active Rooms:</h3>
        <ul id="room-list"></ul>


        <div id="login">
            <input id="name" placeholder="Your name" />
            <input id="room" placeholder="Room name" />
            <button onclick="joinRoom()">Join Room</button>
        </div>

        <div id="chat" style="display:none">
            <h3>Chat Room: <span id="room-name"></span></h3>
            <ul id="messages"></ul>

            <input id="message" placeholder="Type message" />
            <button onclick="sendMessage()">Send</button>

            <h4>Connected Users:</h4>
            <ul id="user-list"></ul>
        </div>
        
    <div class="particles"></div>
    <div class="vaporwave-particles"></div>


        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </div>
</body>

</html>